body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color:black;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image: url(https://images.unsplash.com/photo-1546050680-d4305dcff705?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
    font-family: 'Laila', serif;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Laila', serif;
    font-weight: 700;
    color: black;
    float: center;
  
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    font-family: 'Laila', serif;
  }
  
  h2,
  h3 {
    font-size: 22px;
    font-family: 'Laila', serif;
  }
  
  /* header */
  
  #masthead {
    /* position: fixed; */
    /* z-index: 99; */
    width: 100%;
    margin: 0 0 0px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
  
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: 'Laila', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: black;
    text-align: center;
    text-decoration: none;
    background: white;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    font-family: 'Laila', serif;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: black;
    color: #cccccc;
    text-align: center;
    background: white;
    border-top: 8px solid white;
    height: 50px;
    font-family: 'Laila', serif;
    
  }
  
  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
    font-family: 'Laila', serif;
  }
  
  /* main */
  
  #main-container {
    padding-top: 110px;
    padding-bottom: 300px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: center;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 10px solid black;
  }
  
  /* portfolio page */
  
  .work {
    position: relative;
    float: left;
    width: 258px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #23027E;
    border-bottom: 0;
    font-family: 'Laila', serif;
  }
  
  .auth-image {
    float: center;
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
    font-family: 'Laila', serif;
  }
  
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  
    text-decoration: none;
    color: initial;
  }